$colpri:#9356DC;
$colsec:#FF79DA;
$colter:#99E2D0;
$colgrey:#f6f6f6;
$colfoot:#353535;
$coltxtfoot:white;
$colgreyfosc:#ebebeb;
$colgreyfosc2:#cfcfcf;
$coltrans:rgba(0,0,0,0);
$col-titre-detail-section-menu:rgba(0,0,0,.7);
$CourbeBezier:cubic-bezier(0.5, 1.58, 0.34, 0.82);