
@import "variables";
$colpri:#9356DC;
$colsec:#FF79DA;
$colter:#99E2D0;
$colgrey:#f4f4f4;
$colfoot:#000000;
$colgreyfosc:#e4e4e4;
$col-titre-detail-section-menu:rgba(0,0,0,.5);

@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import "mixins.scss";

    @media screen and (min-width:75rem) {  
        
*{box-sizing: border-box;}


body{
    
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;  
    min-width: 20rem;  
}

a {
    text-decoration: none;
    color:black;
    &:visited{
        color:black;
    }
}
 
.spinner__spin1{
  
    @include spin-load($colpri,.1s);
  
  }
.spinner__spin2 {
    @include spin-load($colsec,.2s,53% );
  }
.spinner__spin3 {
    @include spin-load($colter,.3s,47% );
  }

@keyframes spin1{
    0%{
      transform:translateY(0) scale(0) ;
      opacity: 1;
      
    }
    
    50%{
      transform:translateY(-3rem) scale(1.6) ;
      opacity: 1;
    }
    
    100%{
        transform:translateY(0) scale(0) ;
        opacity: 1;
        
    }
}
@keyframes opac{
    0% {
        opacity: 0.3;
    }
    90%{
        opacity: 0.3;
    }
    90% {
        opacity: 0.3;
    }
    100% {
       opacity:1
    }
    
}
@keyframes spin{
    0% {
        transform:rotate(1turn);
        
        
    }
    20% {
        transform:rotate(2turn);
        
    }
    40% {
        transform:rotate(3turn);
      
    }
    60% {
        transform:rotate(4turn);
    }
    80% {
        transform:rotate(5turn);
    }
    99% {
        transform:rotate(6turn);
        
    }
    100% {
        transform:rotate(0turn);
        opacity: 0;
    }
    

}

.header{
    @include header(hidden);
}
.header, section , footer{
    animation: opac 4s linear ;
}

/* HEADER */

.header{
    @include header(hidden);
}

/* PRESENTATION*/

 .presentation{


    width: 100%;
    height: 21.4rem;
    background-color: $colgrey;
    display: block;
    justify-content: center;
    margin: 10px auto;;
    
    &__localisation{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 3.2rem;
        background-color: $colgreyfosc;
        border-style: inset;
        border-top: 2px solid $colgreyfosc2;
        border-left: none;
        border-right: none;
        border-bottom: none;
        
        &__logo{
            margin: 10px;

        }
    }

    &__reservation{
        position: relative;
    
        
        &__titre{
            display: flex;
            width: 100%;
            margin: 2.3rem auto 1rem auto;
            justify-content: center;
            text-align:center;
            text-align-last: center;
            font-weight:bolder;
            text-anchor: middle;
         

        }

        &__txt{
            text-align: center;
            font-size: 1.2rem;
            margin: 1rem auto;
            font-family: 'Roboto', sans-serif;
            font-weight: lighter;
            color:black;
            opacity:.4;
        }

        &__btn{
            max-width: 18rem;
            margin: 2.4rem auto;
            background: linear-gradient(170deg, #ec73da, #9d60db) ;
            text-align:center;
            vertical-align: middle;
            padding: 20px;
            border-radius: 30px;
            color:white;
            font-size: 17px;
            box-shadow: .1rem .1rem .3rem rgba(0, 0, 0,.4);
            transition-duration: 150ms;
            @include btn;

        }

    }

}

/* FONCTIONNEMENT*/

.fonctionnement{
    display: flex;
    width: 100%;
    height: auto;
    margin: 1rem auto 0 auto;
    padding-bottom: 3rem;
    display: block;
   

    &__titre{
        display: flex;
        width: 95%;
        margin: 0 auto;
        text-align:left;
    }
    &__btn{
        display: flex;
        width: 32%;
        height: 4.6rem;
        background-color:$colgrey ;
        border-radius: 1.25rem;
        margin:1.1rem auto;
        align-items: center;
        justify-content: flex-start;
        position: relative;
        box-shadow: .3rem .3rem 1rem .1rem rgba(0, 0, 0,.15);

        &::before{
            counter-increment: fonctionnement__groupe__btn;
            content: counter(fonctionnement__groupe__btn);
            position: absolute;
            width: 1.7rem;
            height: 1.25rem;
            background-color: $colpri;
            left:-.85rem;
            border-radius: 50%;
            text-align: center;
            color:white;
            font-size: .9rem;
            padding-top: .3rem;
            
           
        }
          
        &__logo{
            position: absolute;
            bottom:35%;
            left:2.2rem;
            color:grey;
            font-size: 1.3rem;
        }

        &__txt{
            text-align: center;
            margin: 1.5rem auto;
        }
    }

}
.fonctionnement__groupe__btn {
    display:flex;
    flex-direction: row;
    width:95%;
    margin: 0 auto;
    justify-content: space-evenly;
    counter-reset: fonctionnement__groupe__btn;
    padding: 0;
    list-style-type: none;
            
}


// RESTAURANTS
                // ANNONCE
.la_palette_du_gout{
    @include annonce("Nouveau");
}
.la_note_enchantee{
    @include annonce("Nouveau");
}
.À_la_française{
    @include annonce(vide);
}
.le_delice_des_sens{
    @include annonce(vide);
}


.section_rest{
    width: 100%;
    margin: 0 auto;
    display: grid;
    height: auto;
    background-color: $colgrey;
    margin:0 auto;
    padding-bottom: 1rem;
   
    &__titre{
        grid-column: 1/2;
        grid-row: 1/2;
        width: 90%;
        margin:1rem 1%;
    }
}

.section_rest__cards{
        display:flex;
        width: 85%;
        height: 15rem;
        min-width: 18rem;
        position:relative;
        margin: .7rem auto;
        box-shadow: 2px 2px 8px 2px rgba(0, 0, 0,.1);
        border-radius:1.2rem;

        &__img{
            width: 100%;
            height: 15rem;
            border-radius:1.2rem;
            position: relative;  
            object-fit: cover;    
        }     
       
        
        &__txts{
            display:block;
            width: 100%;
            height: 4.7rem;
            margin: 0;
            border-radius: 0 0 1.25rem 1.25rem;
            background-color: white;
            position:absolute;
            bottom: 0px;

            &__titre{
                margin: 1rem 0 0 1rem;
                padding: 0;
            }
        }
        &__txts__lieu{
            display: flex;
            margin: .5rem 0 0 1rem;
            align-items: center;
            justify-content: space-between;
            font-size: .9rem;
            font-weight:100;
        }
        &__txts__coeur{
            position: absolute;
            font-size: 1.4rem;
            bottom:1.9rem;
            right:1.6rem;
            z-index: 1;
            animation: transform 250ms ease-out;
            cursor: pointer;        
        }       
    }

    .section_rest__groupe__cards{
        display:grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: space-evenly;
        max-width: 100%;
        
    }
// GRID
    .item1{
            display:flex;
            grid-column: 1/2;
            grid-row: 2/3;   
    }
    .item2{
      
            grid-column: 2/3;
            grid-row: 2/3;            
    }
    .item3{
       
            grid-column: 3/4;
            grid-row: 2/3;           
    }
    .item4{
   
            grid-column: 4/5;
            grid-row: 2/3;           
    }

// ------------------

.far.fa-heart{
    @include heart-mobile;
       
    }
    
}

.footer{
    @include footer;

}
.footer .fas{
    width: 1.3rem;
}



