@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import "mixins.scss";

    
        
    

/* $colpri:#9356DC;
$colsec:#FF79DA;
$colter:#99E2D0;
$colgrey:#f4f4f4;
$colfoot:#000000;
<<<<<<< Updated upstream
$colgreyfosc:#e4e4e4;*/
@media screen and (max-width:769px){

*{box-sizing: border-box;}


body{
    
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;  
    min-width: 20rem;  
}

a {
    text-decoration: none;
    color:black;
    &:visited{
        color:black;
    }
}
 
.spinner__spin1{
  
    @include spin-load($colpri,.1s);
  
  }
.spinner__spin2 {
    @include spin-load($colsec,.2s,53% );
  }
.spinner__spin3 {
    @include spin-load($colter,.3s,47% );
  }

@keyframes spin1{
    0%{
      transform:translateY(0) scale(0) ;
      opacity: 1;
      
    }
    
    50%{
      transform:translateY(-3rem) scale(1.6) ;
      opacity: 1;
    }
    
    100%{
        transform:translateY(0) scale(0) ;
        opacity: 1;
        
    }
}
@keyframes opac{
    0% {
        opacity: 0.3;
    }
    90%{
        opacity: 0.3;
    }
    90% {
        opacity: 0.3;
    }
    100% {
       opacity:1
    }
    
}
@keyframes spin{
    0% {
        transform:rotate(1turn);
        
        
    }
    20% {
        transform:rotate(2turn);
        
    }
    40% {
        transform:rotate(3turn);
      
    }
    60% {
        transform:rotate(4turn);
    }
    80% {
        transform:rotate(5turn);
    }
    99% {
        transform:rotate(6turn);
        
    }
    100% {
        transform:rotate(0turn);
        opacity: 0;
    }
    

}

.header{
    @include header(hidden);
}
.header, section , footer{
    animation: opac 3s linear ;
}



/* PRESENTATION*/

 .presentation{


    width: 100%;
    height: 21.4rem;
    background-color: $colgrey;
    display: block;
    justify-content: center;
    margin: .6rem auto;;
    
    &__localisation{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 3.2rem;
        background-color: $colgreyfosc;
        border-style: inset;
        border-top: 2px solid $colgreyfosc2;
        border-left: none;
        border-right: none;
        border-bottom: none;
        
        &__logo{
            margin: .6rem;

        }
    }

    &__reservation{
        position: relative;
    
        
        &__titre{
            display: flex;
            width: 15rem;
            margin: 2.3rem auto 1rem;
            justify-content: center;
            text-align:center;
            text-align-last: center;
            font-weight:bolder;
            text-anchor: middle;
         

        }

        &__txt{
            text-align: center;
            font-size: 1.2rem;
            margin: 1rem auto;
            font-family: 'Roboto', sans-serif;
            font-weight: lighter;
            color:black;
            opacity:.4;
        }

        &__btn{
            width: 13.6rem;
            margin: 2rem auto;
            background: linear-gradient(170deg, #ec73da, #9d60db) ;
            text-align:center;
            vertical-align: middle;
            padding: 1rem;
            border-radius: 2rem;
            color:white;
            font-size: 1rem;
            box-shadow: .1rem .1rem .3rem rgba(0, 0, 0,.4);
            transition-duration: 150ms;
            @include btn;

        }

    }

}
/* FONCTIONNEMENT*/

.fonctionnement{
    width: 85%;
    max-width: 35rem;
    height: auto;
    margin: 1rem auto 0 auto;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
   

    &__titre{
        display: flex;
        text-align:left;
    }
    &__btn{
        display: flex;
        width: 100%;
        height: 4.6rem;
        background-color:$colgrey ;
        border-radius: 1.25rem;
        margin:.7rem auto;
        align-items:center;
        align-content: center;
        justify-content: flex-start;
        position: relative;
        box-shadow: .3rem .3rem 1rem .1rem rgba(0, 0, 0,.15);

        &::before{
            counter-increment: fonctionnement__groupe__btn;
            content: counter(fonctionnement__groupe__btn);
            position: absolute;
            width: 24px;
            height: 20px;
            background-color: $colpri;
            left:-10px;
            border-radius: 50%;
            text-align: center;
            color:white;
            font-size: 13px;
            padding-top: 5px;
                      
        
        
    }   
        &__logo{
            position: absolute;
            
            bottom:35%;
            left:2.2rem;
            color:grey;
            font-size: 1.3rem;

            
            
        }

        &__txt{
            text-align: center;
            margin: 1.6rem auto;
            font-weight: bold;
        }
    }

}

.fonctionnement__groupe__btn {
    counter-reset: fonctionnement__groupe__btn;
    padding: 0;
    list-style-type: none;
            
}

/* RESTAURANTS*/

.la_palette_du_gout{
    @include annonce("Nouveau");
}
.la_note_enchantee{
    @include annonce("Nouveau");
}
.a_la_française{
    @include annonce(vide);
}
.le_delice_des_sens{
    @include annonce(vide);
}


.section_rest{
    display: flex;
    flex-direction: column;
    height: auto;
    background-color: $colgrey;
    width: 100%;
    margin:0 auto;
    padding-bottom: 3rem;
    
    &__titre{
        width: 90%;
        max-width: 35rem;
        margin:1rem auto;
       /* margin: 1rem auto;text-align: center;  MEDIA QUERIES*/ 
    }
    &__groupe__cards{
        display: flex;
        width: 100%;
        max-width: 40rem;
        margin: 0 auto;
        flex-direction: column;
        justify-content: space-evenly;
    }
}


.section_rest__cards{
        display:flex;
        width: 90%;
        height: 15rem;
        position:relative;
        margin: .8rem auto;
        box-shadow: 2px 2px 8px 2px rgba(0, 0, 0,.1);
        border-radius:1.2rem;

        &__img{
            min-width: 100%;
            height: auto;
            border-radius:1.2rem;
            object-fit: cover;
            object-position: 0 -5rem;
            position: relative;
            
        
        }            
        &__txts{
            display:block;
            width: 100%;
            height: 4.75rem;
            margin: 0;
            border-radius: 0 0 20px 20px;
            background-color: white;
            position:absolute;
            bottom: 0px;

            &__titre{
                margin: 1rem 0 0 1rem;
                padding: 0;
            }
        }
        &__txts__lieu{
            display: flex;
            margin: .3rem 0 0 1rem;
            align-items: center;
            justify-content: space-between;
            font-size: 1.1rem;
            color:rgba(0,0,0,.6);
        }
        &__txts__coeur{
            position: absolute;
            font-size: 23px;
            
            bottom:30px;
            right:25px;
            z-index: 1;
            animation:transform 250ms ease-out;
            cursor: pointer;
        
        }
        

    }



.far.fa-heart{
    @include heart-mobile;
    
}

.footer{
    @include footer;

}
.footer .fas{
    width: 1.3rem;
}


}
