@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/*$colpri:#9356DC;
$colsec:#FF79DA;
$colter:#99E2D0;
$colgrey:#f4f4f4;
$colfoot:#000000;
$colgreyfosc:#e4e4e4;*/
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 375px;
  height: 63px;
  margin: 0px auto;
  font-size: 23px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__fleche {
  position: absolute;
  left: 10px;
  bottom: 10px;
  visibility: hidden;
}

.header__logo__img {
  margin-top: 20px;
  height: 25px;
}

.fa-arrow-left {
  height: 10px;
}

/* PRESENTATION*/
.presentation {
  width: 375px;
  height: 337px;
  background-color: #f6f6f6;
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px auto;
}

.presentation__localisation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 375px;
  height: 50px;
  background-color: #ebebeb;
  border-style: inset;
  border-top: 2px solid #cfcfcf;
  border-left: none;
  border-right: none;
  border-bottom: none;
}

.presentation__localisation__logo {
  margin: 10px;
}

.presentation__reservation {
  position: relative;
}

.presentation__reservation__titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: 40px;
  text-align: center;
  text-align-last: center;
  font-weight: bolder;
  text-anchor: middle;
}

.presentation__reservation__txt {
  text-align: center;
}

.presentation__reservation__btn {
  margin: 30px 60px;
  background: linear-gradient(170deg, #ec73da, #9d60db);
  text-align: center;
  vertical-align: middle;
  padding: 20px;
  border-radius: 30px;
  color: white;
  font-size: 17px;
}

/* FONCTIONNEMENT*/
.fonctionnement {
  width: 375px;
  height: 400px;
  margin: 10px auto;
  border: 1px solid black;
}

.fonctionnement__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 323px;
  height: 74px;
  background-color: #f6f6f6;
  border-radius: 20px;
  margin: 10px auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  /*&__num{
            padding:7px 10px;
            text-align: center;      
            background-color: $colpri;
            border-radius: 50%;
            margin-left: -10px;
            color:white;
            font-size: 13px;
            font-weight: bold;


        }*/
}

.fonctionnement__btn::before {
  content: "1";
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #9356DC;
  left: -10px;
  border-radius: 50%;
  text-align: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  color: white;
  font-size: 13px;
}

.fonctionnement__btn__logo {
  position: absolute;
  bottom: 36%;
  left: 35px;
}

.fonctionnement__btn__txt {
  text-align: center;
  margin: 0 auto;
}

/* RESTAURANTS*/
.cards_rest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 1225px;
  background-color: #f6f6f6;
  width: 375px;
  margin: 0px auto;
}

.cards_rest__titre {
  width: 325px;
  margin: 10px auto;
}

.cards_rest__lapalettedugout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 325px;
  height: 251px;
  position: relative;
  margin: 10px auto;
}

.cards_rest__lapalettedugout__img {
  width: 325px;
  height: 251px;
  border-radius: 20px;
  -webkit-box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.1);
}

.cards_rest__lapalettedugout__txts {
  display: block;
  width: 100%;
  height: 75px;
  margin: 0;
  border-radius: 0 0 20px 20px;
  background-color: white;
  position: absolute;
  bottom: 0px;
}

.cards_rest__lapalettedugout__txts__titre {
  margin: 15px 0 0 15px;
  padding: 0;
}

.cards_rest__lapalettedugout__txts__lieu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 8px 0 0 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 15px;
  font-weight: 100;
}

.cards_rest__lapalettedugout__txts__coeur {
  position: absolute;
  font-size: 23px;
  size: 2x;
  bottom: 30px;
  right: 25px;
  z-index: 1;
  -webkit-animation: transform 250ms ease-out;
          animation: transform 250ms ease-out;
  cursor: pointer;
}

.far.fa-heart {
  display: inline-block;
  font-size: 25px;
  z-index: 1;
  opacity: 1;
  -webkit-transition: -webkit-transform 300ms ease-out;
  transition: -webkit-transform 300ms ease-out;
  transition: transform 300ms ease-out;
  transition: transform 300ms ease-out, -webkit-transform 300ms ease-out;
}

.far.fa-heart:hover::before {
  background: linear-gradient(45deg, #ea83df, #a05adc);
  font-weight: bold;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: -1;
}

.far.fa-heart:hover::after {
  background: linear-gradient(45deg, #f5baef, #a05adc);
  font-weight: bold;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 1;
  opacity: 1;
}

.far.fa-heart::after {
  background: linear-gradient(45deg, #f5baef, #a05adc);
  font-weight: bold;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 1;
  opacity: 0;
}

.footer {
  width: 375px;
  height: 200px;
  background-color: #a7a4a4;
  margin: 0 auto;
}

.footer__logo {
  margin: 0px auto 0 20px;
}

.footer__logo__img {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  margin: 0;
  -webkit-transform-origin: left;
          transform-origin: left;
  padding-top: 20px;
}

.footer__liens {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px auto 0px 20px;
  padding: 5px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  color: white;
}

.footer__liens__txt {
  margin: 5px;
}
/*# sourceMappingURL=style.css.map */